<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InkDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <InkDesktop.Properties.Settings>
            <setting name="WebManagerPort" serializeAs="String">
                <value>8008</value>
            </setting>
            <setting name="PortRegistered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogException" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPenData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>True</value>
            </setting>
        </InkDesktop.Properties.Settings>
    </userSettings>
</configuration>